h4 {
  margin: 5px;
}
.main-content {
  padding: 20px 0;
  border-bottom: 1px solid black;
}
.tr-main {
  display: flex;
  justify-content: space-between;
  padding: 0 12%;
}
.tr-main-two {
  border-top: 1px solid black;
}
.header-todo {
  background-color: #8b8832;
  color: white;
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.main-content:hover{
    background-color: #fefba0;
}
.main-content:active{
    background-color: #e8e454;
    transition: 0.3s;
}
